<form action="/add" method="post" class="post-form">
    <input type="text" placeholder="Tựa đề" name="title" required/> 
    <textarea placeholder="Vui lòng nhập nội dung" name="content"></textarea>
    <button type="submit">Gửi</button>
</form>